h1{
    position: relative;
    margin-top: 15px;;
    color: blue;
    text-align: center;
    font-style:italic;
    border:5px solid navy;
    }

.text{
    color: black;
    font-size:20px;
    font-weight: 50;
    font-style:italic;
    width:vw;
    margin: 200 300 100 200;
}

.subheadings{
    color: white;
    font-style:normal;
    font-size:15px;
    font-weight:40;
}

.about{
    color: purple;
    font-weight: 100;
    font-style: oblique;
    font-size: 30px;
    text-align: center;
}

.headers{
    font-style:italic;
    font-size: 25px;
    color:darkgreen;
}

.image{
    width:400px;
    height:auto;
    margin-left: 500px;
    border:3px solid navy;
}

.image1{
    position:absolute;
    margin-top: 700px;
    margin-left: 850px;
    height:1200px;
    width:800px;

}


.container{
    /* border:1px solid black; */
    position: relative;
    margin-left: 1180px;
    margin-top:5px;
    font-size:larger;
    

}
#home{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    /* margin-left: 1190px; */
}
#gallery{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

#about{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

#contact{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}



